@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import 'react-toastify/dist/ReactToastify.css';
#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Exo 2", sans-serif;
}